* {
  font-family: 'Khula', 'Pretendard-Regular';
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}
body{
  background-color: #F0F5F9;
  margin: 0;
  min-width: 300px;
  margin: auto;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#backButton {
  width:  28px;
  height: 28px;
  margin: 1.5% 10% 20px;
  background-image: url('../images/back.png');
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 55px;
}
.glass {
  width: 130px;
  height: 150px;
}
img {
  margin-bottom: 60px;
}
.sub {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inputBox .tit {
  font-weight: 700;
  padding-bottom: 10px;
  display: flex;
}
.inputBox > input {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 16px;
}
.inputBox > input:focus {
  outline: none;
}
.inputBox > ::placeholder {
  color: #ccc;
}
.btnBox {
  padding: 40px 0 40px;
}
#register {
  font-weight: 700;
  text-decoration: underline;
}
#register:hover {
  color: #0B84FE;
}
.btn {
  width: 350px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 24px;
  color: #fff;
  background-color: #CEE0EC;
}
.btn:hover {
  background-color: #0B84FE;
  cursor: pointer;
}
hr {
  width: 500px;
  border: 0.5px solid #ddd;
}
.copyright {
  display: flex;
  justify-content: center;
  width: 350px;
  padding: 10px 0 10px;
}
.txt {
  color: #D2DDE5;
  font-size: 14px;
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
