@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Khula&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
}
body{
    min-width: 360px;
    max-width: 1080px;
    margin: auto;
}
/* nav */
.logo{
    font-family: 'Sacramento';
    font-size: 35px;
    margin-right: auto;
}
nav{
    display: none;
    align-items: center;
    justify-content: flex-end;
    max-width: 1080px;
    height: 90px;
    border-bottom: 1px solid #DDDDDD;
    padding: 0 50px;
}
nav > button{
    font-family: 'DM Sans';
    font-size: 16px;
    height: 36px;
    border-radius: 30px;
    padding: 0 24px;
    align-self: center;
    color: #5D5A88;
    border: 1px solid #D4D2E3;
    background-color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}
button:hover{
    background-color: #EEEEEE;
}
#home-btn{
    display: flex;
    align-items: center;
    font-family: 'DM Sans';
    font-size: 16px;
    height: 36px;
    color: #5D5A88;
    cursor: pointer;
}
#write-btn:hover{
    background-color: #0B84FE;
}
nav > #write-btn{
    background-color: #BAD9EF;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
/* header */
header{
    min-width: 360px;
    max-width: 1080px;
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
#header-title{
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 30%);
    font-size: 23px;
}
#back-btn{
    width: 24px;
    height: 24px;
    background-image: url('../images/back.png');
    background-size: cover;
    cursor: pointer;
}
/* main */
main{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    max-width: 1080px;
    font-size: 14px;
    font-family: 'Khula';
}
main > div{
    min-width: 300px;
    max-width: 500px;
    padding: 10px 30px;
}
main .text-title{
    color: #555555;
    text-align: center;
}
main .text-datetime{
    color: #CCCCCC;
    text-align: center;
}
@media screen and (min-width: 800px) {
    nav{
        display: flex;
    }
    header{
        justify-content: space-between;
        height: 39px;
        margin: 10px auto;
        padding: 0 70px;
        font-size: 18px;
    }
    #back-btn{
        width: 28px;
        height: 28px;
    }
    #header-title{
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(auto-fill, minmax(100px, auto));
        column-gap: 30px;
        align-items: flex-start;
        padding: 0 30px;
    }
    main > div{
        min-width: 200px;
        max-width: 300px;
        border-radius: 15px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
    }
}
