* {
    font-family: 'Khula', 'Pretendard-Regular';
    box-sizing: border-box;
    font-size: 16px;
    margin: 10px;
}

/* header */
#header {
    width: 98%;
    height: 92px;
    background-color: white;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    z-index: 800;
    padding: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
#logo {
    font-size: 35px;
    font-family: 'Sacramento';
    text-decoration-line: none;
    color: #000;
}
#buttonList {
    width: 412px;
    display: flex;
    align-items: center;
}
#buttonList > a {
    width: 108px;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(93, 90, 136);
    text-decoration-line: none;
    padding: 5px 15px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 210, 227);
    border-image: initial;
}
#buttonList > a:nth-child(1) {
    border-width: 0px;
}
#buttonList > a:nth-child(4) {
    background-color: rgb(186, 217, 239);
    color: white;
    border-width: 0px;
}
#buttonList > a:nth-child(n+2):nth-child(-n+3):hover{
    background-color: #EEEEEE;
}
#buttonList > a:nth-child(4):hover{
    background-color: #0B84FE;
}

/* main */
#main {
    margin-top: 92px;
}
#mainHeader {
    height: 38px;
    display: flex;
    justify-content: space-between;
}
#inputList {
    margin: 10px 10;
    display: flex;
    align-items: center;
}
#backButton{
    width:  28px;
    height: 28px;
    background-image: url('../images/back.png');
}
#resetButton{
    width:  28px;
    height: 28px;
    margin-top: 20px;
    padding: 5px;
    color: transparent;
    background-color: white;
    border-width: 0;
    background-image: url('../images/delete.png');
    background-repeat: no-repeat;
}
#submitButton{
    width: 28px;
    height: 28px;
    margin-top: 20px;
}
#mainContent {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table {
    width: 100%;
    margin: 0 40px;
    text-align: center;
}
tr{
    display: flex;
    justify-content: space-around;
}
th {
    padding-left: 50px;
    padding-right: 150px;
    width: 100px;
    height: 30px;
}

td{
    margin: 0 60px;

}
td > input {
    width: 250px;
    height: 35px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: rgb(240, 245, 249);
    opacity: 0.4;
    border-radius: 5px;
    border-width: 0px;
    padding: 10px;
}

.emotionButton{
    margin: 0;
    padding: 0 50px 50px 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.emotionOption > input{
    margin: 5px;
}

#mainText {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    padding: 30px;
    font-size: 12px;
    color: black;
    background-color: rgb(206, 224, 236);
    opacity: 0.31;
    border-radius: 15px;
    border-width: 0px;
}

@media screen and (max-width: 750px){
    #buttonList{
        display: none;
    }
    #header{
        justify-content: center;

    }
    #mainHeader{
        width: 85%;
        position: fixed;
        top: 20px;
        z-index: 900;
    }
    #submitButton{
        position: fixed;
        bottom: 20px;
    }
    #mainContent{
        width: 90%;
    }
    .table, tbody{
        width: 300px;
    }
    tr{
        height: 38px;
    }
    th {
        padding-left: 50px;
        width: 100px;
        height: 58px;
    }
    #mainText{
        height: 450px;
        margin-bottom: 20px;
    }
    

}

@media screen and (min-width: 1000px) {
    td > input{
        width: 350px;
    }
    
}
